<a href="https://colab.research.google.com/github/simpleParadox/Private-RE/blob/main/preprocessing_semEval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import csv
from typing import List
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

###Read Semeval Data

In [ ]:
train_directory_path = '/content/drive/MyDrive/CMPUT 622 project/data/semeval/train.txt'
test_directory_path = '/content/drive/MyDrive/CMPUT 622 project/data/semeval/test.txt'

In [ ]:
relation_to_id = [
    "other", 
    "Entity-Destination(e1,e2)",
    "Cause-Effect(e2,e1)",        
    "Member-Collection(e2,e1)",      
    "Entity-Origin(e1,e2)",        
    "Message-Topic(e1,e2)",        
    "Component-Whole(e2,e1)",       
    "Component-Whole(e1,e2)",       
    "Instrument-Agency(e2,e1)",     
    "Product-Producer(e2,e1)",     
    "Content-Container(e1,e2)",     
    "Cause-Effect(e1,e2)",          
    "Product-Producer(e1,e2)",       
    "Content-Container(e2,e1)",    
    "Entity-Origin(e2,e1)",          
    "Message-Topic(e2,e1)",        
    "Instrument-Agency(e1,e2)",       
    "Member-Collection(e1,e2)",      
    "Entity-Destination(e2,e1)"]

In [ ]:
def convertText_csv(path):
  output: List[List[str]] = []

  with open(path) as file:
    lines = file.read()
    lines =  lines.splitlines()

  for line in lines:
    line = line.strip()
    input = line.split(sep="\t")
    entity1 = input[0]
    entity2 = input[1]
    relation = relation_to_id.index(input[2])
    sentence = input[3]

    sentence = sentence.replace('<e1>', '')
    sentence = sentence.replace('<e2>', '')
    sentence = sentence.replace('</e1>', '')
    sentence = sentence.replace('</e2>', '')
    
    output.append([sentence, entity1, entity2, relation])
  return output

In [ ]:
def writeOutput(output, path):
  with open(path, 'w', newline='') as f:
    writer = csv.writer(f, delimiter='\t')
    writer.writerow(["sentence", "entity1", "entity2", "relation"])
    for i in output:
      writer.writerow(i)

In [ ]:
def loadSemEvalDateset(outputFilename):
  writeOutput(convertText_csv(train_directory_path), outputFilename)
  train_data = pd.read_csv(outputFilename, encoding='utf-8', sep = '\t')
  labels = train_data.iloc[:,-1].values
  features = train_data.iloc[:,:-1]
  return features, labels

In [ ]:
loadSemEvalDateset("train.tsv")

[ 6  0  8  0 17]

In [ ]:
train_data = pd.read_csv("train.tsv", encoding='utf-8', sep = '\t')

In [ ]:
train_data.head()

,sentence,entity1,entity2,relation
0,The system as described above has its greatest...,configuration,elements,6
1,The child was carefully wrapped and bound in...,child,cradle,0
2,The author of a keygen uses a disassembler ...,author,disassembler,8
3,A misty ridge uprises from the surge .,ridge,surge,0
4,The student association is the voice of th...,student,association,17

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sentence  8000 non-null   object
 1   entity1   8000 non-null   object
 2   entity2   8000 non-null   object
 3   relation  8000 non-null   int64
dtypes: int64(1), object(3)
memory usage: 250.1+ KB

In [ ]:
train_data.shape[0]

8000

In [ ]:
train_data["relation"].value_counts()

other                        1410
Entity-Destination(e1,e2)     844
Cause-Effect(e2,e1)           659
Member-Collection(e2,e1)      612
Entity-Origin(e1,e2)          568
Message-Topic(e1,e2)          490
Component-Whole(e2,e1)        471
Component-Whole(e1,e2)        470
Instrument-Agency(e2,e1)      407
Product-Producer(e2,e1)       394
Content-Container(e1,e2)      374
Cause-Effect(e1,e2)           344
Product-Producer(e1,e2)       323
Content-Container(e2,e1)      166
Entity-Origin(e2,e1)          148
Message-Topic(e2,e1)          144
Instrument-Agency(e1,e2)       97
Member-Collection(e1,e2)       78
Entity-Destination(e2,e1)       1
Name: relation, dtype: int64

In [ ]:
train_data["relation"].value_counts()

0     1410
1      844
2      659
3      612
4      568
5      490
6      471
7      470
8      407
9      394
10     374
11     344
12     323
13     166
14     148
15     144
16      97
17      78
18       1
Name: relation, dtype: int64

In [ ]:
train_data.isnull().values.any()

False

In [ ]:
train_data.isnull().sum()

sentence    0
entity1     0
entity2     0
relation    0
dtype: int64

In [ ]:
for s in train_data["sentence"]:
  if "< /e1 >" in s:
    print("found")
  if "< e1 >" in s:
    print("found")
  if "< e2 >" in s:
    print("found")
  if "< /e1 >" in s:
    print("found")